This scripts matches the naming conventions of IPYS data collection with the naming and codes from our geographic files. IPYS names were taken from [this spreadheet](https://docs.google.com/spreadsheets/d/1EbW1r-uiWH_2Vc2WZSUjFpgFHr_2U0OzvgdKnNhtWZw/edit?usp=sharing).

In [1]:
from fuzzymatcher import link_table, fuzzy_left_join
from fuzzywuzzy import fuzz, process
import geopandas as gpd
import pandas as pd

In [2]:
# Reads both files
ipys_names = pd.read_csv("../input/code-correspondence.csv")
geo_names = gpd.read_file("../output/level-2.geojson")

In [3]:
ipys_names.head()

  level_1_name                       level_2_name  level_1_code  level_2_code
0     Amazonas        Alto Orinoco (La Esmeralda)           NaN           NaN
1     Amazonas  Atabapo (San Fernando de Atabapo)           NaN           NaN
2     Amazonas           Atures (Puerto Ayacucho)           NaN           NaN
3     Amazonas                Autana (Isla Ratón)           NaN           NaN
4     Amazonas  Manapiare (San Juan de Manapiare)           NaN           NaN

In [4]:
geo_names.head()

,parent_code,parent_name,code,name,geometry
0,VE02,Amazonas,VE0202,Autónomo Atabapo,"POLYGON ((-66.33494 4.26540, -66.27128 4.22420..."
1,VE02,Amazonas,VE0207,Autónomo Rio Negro,"POLYGON ((-65.92352 2.88024, -65.92278 2.87806..."
2,VE02,Amazonas,VE0205,Autónomo Maroa,"POLYGON ((-67.43485 3.24847, -67.43485 3.24847..."
3,VE02,Amazonas,VE0204,Autónomo Autana,"POLYGON ((-66.41415 5.73555, -66.41180 5.72659..."
4,VE02,Amazonas,VE0203,Autónomo Atures,"POLYGON ((-67.43503 6.18680, -67.43404 6.18646..."

In [5]:
# Keeps only needed columns
geo_names = geo_names[['parent_name', 'parent_code', 'name', 'code']]

In [6]:
# Changes 'La Guaira' for 'Vargas' and standardizes Distrito Capital spelling
geo_names['parent_name'] = geo_names.parent_name.replace({'La Guaira': 'Vargas', 'Distrito Capital': 'Distrito capital'})

In [7]:
# Makes everything else lowercase
# ipys_names = ipys_names.apply(lambda x: x.str.lower(), axis=1)
# level_2 = level_2.apply(lambda x: x.str.lower(), axis=1)

In [8]:
geo_names

    parent_name parent_code                name    code
0      Amazonas        VE02    Autónomo Atabapo  VE0202
1      Amazonas        VE02  Autónomo Rio Negro  VE0207
2      Amazonas        VE02      Autónomo Maroa  VE0205
3      Amazonas        VE02     Autónomo Autana  VE0204
4      Amazonas        VE02     Autónomo Atures  VE0203
..          ...         ...                 ...     ...
361       Zulia        VE23             Cabimas  VE2303
362       Zulia        VE23          Lagunillas  VE2310
363       Zulia        VE23   Valmore Rodríguez  VE2321
364       Zulia        VE23                Mara  VE2312
365       Zulia        VE23          Santa Rita  VE2318

[366 rows x 4 columns]

In [9]:
# Let's try a quick and dirty fuzzy matcher
# https://stackoverflow.com/a/56315491

def fuzzy_merge(df_1, df_2, key1, key2, threshold=90, limit=2):
    """
    :param df_1: the left table to join
    :param df_2: the right table to join
    :param key1: key column of the left table
    :param key2: key column of the right table
    :param threshold: how close the matches should be to return a match, based on Levenshtein distance
    :param limit: the amount of matches that will get returned, these are sorted high to low
    :return: dataframe with boths keys and matches
    """
    s = df_2[key2].tolist()
    
    m = df_1[key1].apply(lambda x: process.extract(x, s, limit=limit))    
    df_1['matches'] = m
    
    m2 = df_1['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
    df_1['matches'] = m2
    
    return df_1

In [10]:
# To improve accuracy, let's do it within each state and get the closet match.
# As we do it, let's also display the results so we can manually correct them later
new_df = []
for level_1_name in ipys_names.level_1_name.unique():
    
    subset_ipys = ipys_names[ipys_names.level_1_name==level_1_name].reset_index()
    subset_geo = geo_names[geo_names.parent_name==level_1_name].reset_index()
    
    #display(subset_ipys, subset_geo)
    
    # We will remove the parts of the name within the parenthesis of IPYS naming for easy matching
    subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")
    
    merge = fuzzy_left_join(subset_ipys, subset_geo, 'level_2_name_simplified', 'name')
    #merge = fuzzy_merge(subset_ipys, subset_geo, 'level_2_name', 'name')
        
    # Renaming and filtering columns for clarity
    merge = merge[['level_1_name', 'level_2_name','parent_name', 'name',  'parent_code', 'code']]
    
    merge = merge.rename(columns={
        'level_1_name': 'IPYS_level_1_name',
        'level_2_name': 'IPYS_level_2_name',
        'parent_name': 'geo_level_1_name',
        'parent_code': 'geo_level_1_code',
        'name': 'geo_level_2_name',
        'code': 'geo_level_2_code'
    })
    
    new_df.append(merge)
    
    display(merge)

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Amazonas,Alto Orinoco (La Esmeralda),Amazonas,Autónomo Alto Orinoco,VE02,VE0201
1,Amazonas,Atabapo (San Fernando de Atabapo),Amazonas,Autónomo Atabapo,VE02,VE0202
2,Amazonas,Atures (Puerto Ayacucho),Amazonas,Autónomo Atures,VE02,VE0203
3,Amazonas,Autana (Isla Ratón),Amazonas,Autónomo Autana,VE02,VE0204
4,Amazonas,Manapiare (San Juan de Manapiare),Amazonas,Manapiare,VE02,VE0206
5,Amazonas,Maroa,Amazonas,Autónomo Maroa,VE02,VE0205
6,Amazonas,Río Negro (San Carlos de Río Negro),Amazonas,Autónomo Rio Negro,VE02,VE0207

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Anzoátegui,Anaco,Anzoátegui,Anaco,VE03,VE0301
1,Anzoátegui,Aragua (Aragua de Barcelona),Anzoátegui,Aragua,VE03,VE0302
2,Anzoátegui,Bolívar (Barcelona),Anzoátegui,Simón Bolívar,VE03,VE0318
3,Anzoátegui,Bruzual (Clarines),Anzoátegui,Manuel Ezequiel Bruzual,VE03,VE0312
4,Anzoátegui,Cajigal (Onoto),Anzoátegui,Juan Manuel Cajigal,VE03,VE0309
5,Anzoátegui,Diego Bautista Urbaneja (Lechería),Anzoátegui,Diego Bautista Urbaneja,VE03,VE0321
6,Anzoátegui,Freites (Cantaura),Anzoátegui,Pedro María Freites,VE03,VE0313
7,Anzoátegui,Guanipa (San José de Guanipa),Anzoátegui,San José de Guanipa,VE03,VE0315
8,Anzoátegui,Guanta (Guanta),Anzoátegui,Guanta,VE03,VE0306
9,Anzoátegui,Independencia (Soledad),Anzoátegui,Independencia,VE03,VE0307
10,Anzoátegui,Libertad (San Mateo),Anzoátegui,Libertad,VE03,VE0311
11,Anzoátegui,McGregor (El Chaparro),NaN,NaN,NaN,NaN
12,Anzoátegui,Miranda (Pariaguán),Anzoátegui,Francisco de Miranda,VE03,VE0305
13,Anzoátegui,Monagas (San Diego de Cabrutica),Anzoátegui,José Gregorio Monagas,VE03,VE0310
14,Anzoátegui,Carvajal (Valle de Guanape),Anzoátegui,Francisco del Carmen Carvajal,VE03,VE0304
15,Anzoátegui,Peñalver (Puerto Píritu),Anzoátegui,Fernando de Peñalver,VE03,VE0303
16,Anzoátegui,Píritu (Anzoátegui),NaN,NaN,NaN,NaN
17,Anzoátegui,San Juan de Capistrano (Boca de Uchire),Anzoátegui,San Juan de Capistrano,VE03,VE0316
18,Anzoátegui,Santa Ana,Anzoátegui,Santa Ana,VE03,VE0317
19,Anzoátegui,Simón Rodriguez (El Tigre),Anzoátegui,Simón Rodríguez,VE03,VE0319
21,Anzoátegui,Sotillo (Puerto La Cruz),Anzoátegui,Juan Antonio Sotillo,VE03,VE0308

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Apure,Achaguas (Achaguas),Apure,Achaguas,VE04,VE0401
1,Apure,Biruaca (Biruaca),Apure,Biruaca,VE04,VE0402
2,Apure,Muñoz (Bruzual),Apure,Muñoz,VE04,VE0403
3,Apure,Páez (Guasdualito),Apure,Páez,VE04,VE0404
4,Apure,Pedro Camejo (San Juan de Payara),Apure,Pedro Camejo,VE04,VE0405
5,Apure,Rómulo Gallegos (Elorza),Apure,Rómulo Gallegos,VE04,VE0406
6,Apure,San Fernando (San Fernando de Apure),Apure,San Fernando,VE04,VE0407

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Aragua,Bolívar (San Mateo),Aragua,Bolívar,VE05,VE0501
1,Aragua,Camatagua,Aragua,Camatagua,VE05,VE0502
2,Aragua,Francisco Linares Alcántara (Santa Rita),Aragua,Francisco Linares Alcántara,VE05,VE0517
3,Aragua,Girardot (Maracay),Aragua,Girardot,VE05,VE0503
4,Aragua,José Ángel Lamas (Santa Cruz),Aragua,José Ángel Lamas,VE05,VE0504
5,Aragua,José Félix Ribas (La Victoria),Aragua,José Félix Ribas,VE05,VE0505
6,Aragua,José Rafael Revenga (El Consejo),Aragua,José Rafael Revenga,VE05,VE0506
7,Aragua,Libertador (Palo Negro),Aragua,Libertador,VE05,VE0507
8,Aragua,Mario Briceño Iragorry (El Limón),Aragua,Mario Briceño Iragorri,VE05,VE0508
9,Aragua,Ocumare de la Costa de Oro (Ocumare de la Costa),Aragua,Ocumare de la Costa de Oro,VE05,VE0518
10,Aragua,San Casimiro (San Casimiro),Aragua,San Casimiro,VE05,VE0509
11,Aragua,San Sebastián (San Sebastián de los Reyes),Aragua,San Sebastián,VE05,VE0510
12,Aragua,Santiago Mariño (Turmero),Aragua,Santiago Mariño,VE05,VE0511
13,Aragua,Santos Michelena (Las Tejerías),Aragua,Santos Michelena,VE05,VE0512
14,Aragua,Sucre (Cagua),Aragua,Sucre,VE05,VE0513
15,Aragua,Tovar (Colonia Tovar),Aragua,Tovar,VE05,VE0514
16,Aragua,Urdaneta (Barbacoas),Aragua,Urdaneta,VE05,VE0515
17,Aragua,Zamora (Villa de Cura),Aragua,Ezequiel Zamora,VE05,VE0516

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Barinas,Alberto Arvelo Torrealba (Sabaneta),Barinas,Alberto Arvelo Torrealba,VE06,VE0601
1,Barinas,Andrés Eloy Blanco (El Cantón),Barinas,Andrés Eloy Blanco,VE06,VE0612
2,Barinas,Antonio José de Sucre (Socopó),Barinas,Antonio José de Sucre,VE06,VE0602
3,Barinas,Arismendi,Barinas,Arismendi,VE06,VE0603
4,Barinas,Barinas,Barinas,Barinas,VE06,VE0604
5,Barinas,Bolívar (Barinitas),Barinas,Bolívar,VE06,VE0605
6,Barinas,Cruz Paredes (Barrancas),Barinas,Cruz Paredes,VE06,VE0606
7,Barinas,Ezequiel Zamora (Santa Bárbara),Barinas,Ezequiel Zamora,VE06,VE0607
8,Barinas,Obispos,Barinas,Obispos,VE06,VE0608
9,Barinas,Pedraza (Ciudad Bolivia),Barinas,Pedraza,VE06,VE0609
10,Barinas,Rojas (Libertad),Barinas,Rojas,VE06,VE0610
11,Barinas,Sosa (Ciudad de Nutrias),Barinas,Sosa,VE06,VE0611

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Bolívar,Angostura (Ciudad Piar),Bolívar,Bolivariano Angostura,VE07,VE0707
2,Bolívar,Cedeño (Caicara del Orinoco),Bolívar,Cedeño,VE07,VE0702
3,Bolívar,El Callao,Bolívar,El Callao,VE07,VE0703
4,Bolívar,Gran Sabana (Santa Elena de Uairén),Bolívar,Gran Sabana,VE07,VE0704
5,Bolívar,Heres (Ciudad Bolívar),NaN,NaN,NaN,NaN
6,Bolívar,Caroní (Ciudad Guayana),Bolívar,Caroní,VE07,VE0701
7,Bolívar,Padre Pedro Chien (El Palmar),Bolívar,Padre Pedro Chien,VE07,VE0711
8,Bolívar,Piar (Upata),Bolívar,Piar,VE07,VE0706
9,Bolívar,Roscio (Guasipati),Bolívar,Roscio,VE07,VE0708
10,Bolívar,Sifontes (Tumeremo),Bolívar,Sifontes,VE07,VE0709
11,Bolívar,Sucre (Maripa),Bolívar,Sucre,VE07,VE0710

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Carabobo,Bejuma,Carabobo,Bejuma,VE08,VE0801
1,Carabobo,Carlos Arvelo (Güigüe),Carabobo,Carlos Arvelo,VE08,VE0802
2,Carabobo,Diego Ibarra (Mariara),Carabobo,Diego Ibarra,VE08,VE0803
3,Carabobo,Guacara,Carabobo,Guacara,VE08,VE0804
4,Carabobo,Juan José Mora (Morón),Carabobo,Juan José Mora,VE08,VE0805
5,Carabobo,Libertador (Tocuyito),Carabobo,Libertador,VE08,VE0806
6,Carabobo,Los Guayos,Carabobo,Los Guayos,VE08,VE0807
7,Carabobo,Miranda,Carabobo,Miranda,VE08,VE0808
8,Carabobo,Montalbán,Carabobo,Montalbán,VE08,VE0809
9,Carabobo,Naguanagua,Carabobo,Naguanagua,VE08,VE0810
10,Carabobo,Puerto Cabello,Carabobo,Puerto Cabello,VE08,VE0811
11,Carabobo,San Diego,Carabobo,San Diego,VE08,VE0812
12,Carabobo,San Joaquín,Carabobo,San Joaquín,VE08,VE0813
13,Carabobo,Valencia,Carabobo,Valencia,VE08,VE0814

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Cojedes,Anzoátegui (Cojedes),Cojedes,Anzoátegui,VE09,VE0901
1,Cojedes,Ezequiel Zamora,Cojedes,Ezequiel Zamora,VE09,VE0908
2,Cojedes,Falcón (Tinaquillo),NaN,NaN,NaN,NaN
3,Cojedes,Girardot (El Baúl),Cojedes,Girardot,VE09,VE0903
4,Cojedes,Lima Blanco (Macapo),Cojedes,Lima Blanco,VE09,VE0904
5,Cojedes,Pao de San Juan Bautista (El Pao),Cojedes,Pao de San Juan Bautista,VE09,VE0905
6,Cojedes,Ricaurte (Libertad),Cojedes,Ricaurte,VE09,VE0906
7,Cojedes,Rómulo Gallegos,Cojedes,Rómulo Gallegos,VE09,VE0907
8,Cojedes,Tinaco,Cojedes,Tinaco,VE09,VE0909

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Delta Amacuro,Tucupita,Delta Amacuro,Tucupita,VE10,VE1004
1,Delta Amacuro,Antonio Díaz Curiapo (Curiapo),Delta Amacuro,Antonio Díaz,VE10,VE1001
2,Delta Amacuro,Casacoima (Sierra Imataca),Delta Amacuro,Casacoima,VE10,VE1002
3,Delta Amacuro,Pedernales,Delta Amacuro,Pedernales,VE10,VE1003

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Distrito capital,Parroquia 23 de enero,Distrito capital,23 de Enero,VE01,VE010122
1,Distrito capital,Parroquia Altagracia,Distrito capital,Altagracia,VE01,VE010101
2,Distrito capital,Parroquia Antímano,NaN,NaN,NaN,NaN
3,Distrito capital,Parroquia Candelaria,Distrito capital,Candelaria,VE01,VE010103
4,Distrito capital,Parroquia Caricuao,Distrito capital,Caricuao,VE01,VE010104
5,Distrito capital,Parroquia Catedral,Distrito capital,Catedral,VE01,VE010105
6,Distrito capital,Parroquia Coche,Distrito capital,Coche,VE01,VE010106
7,Distrito capital,Parroquia El Junquito,Distrito capital,El Junquito,VE01,VE010107
8,Distrito capital,Parroquia El Paraíso,Distrito capital,El Paraíso,VE01,VE010108
9,Distrito capital,Parroquia El Recreo,Distrito capital,El Recreo,VE01,VE010109
10,Distrito capital,Parroquia El Valle,Distrito capital,El Valle,VE01,VE010110
11,Distrito capital,Parroquia La Pastora,Distrito capital,La Pastora,VE01,VE010111
12,Distrito capital,Parroquia La Vega,Distrito capital,La Vega,VE01,VE010112
13,Distrito capital,Parroquia Macarao,Distrito capital,Macarao,VE01,VE010113
14,Distrito capital,Parroquia San Agustín,Distrito capital,San Agustín,VE01,VE010114
15,Distrito capital,Parroquia San Bernardino,Distrito capital,San Bernandino,VE01,VE010115
20,Distrito capital,Parroquia San José,Distrito capital,San José,VE01,VE010116
21,Distrito capital,Parroquia San Juan,Distrito capital,San Juan,VE01,VE010117
22,Distrito capital,Parroquia San Pedro,Distrito capital,San Pedro,VE01,VE010118
23,Distrito capital,Parroquia Santa Rosalía,Distrito capital,Santa Rosalía,VE01,VE010119
24,Distrito capital,Parroquia Santa Teresa,Distrito capital,Santa Teresa,VE01,VE010120
25,Distrito capital,Parroquia Sucre,Distrito capital,Sucre,VE01,VE010121

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Falcón,Acosta (San Juan de los Cayos),Falcón,Acosta,VE11,VE1101
1,Falcón,Bolívar (San Luis),Falcón,Bolívar,VE11,VE1102
2,Falcón,Buchivacoa (Capatárida),Falcón,Buchivacoa,VE11,VE1103
3,Falcón,Cacique Manaure (Yaracal),Falcón,Cacique Manaure,VE11,VE1104
4,Falcón,Carirubana (Punto Fijo),Falcón,Carirubana,VE11,VE1105
5,Falcón,Colina (La Vela de Coro),Falcón,Colina,VE11,VE1106
6,Falcón,Dabajuro (Dabajuro),Falcón,Dabajuro,VE11,VE1107
7,Falcón,Democracia (Pedregal),Falcón,Democracia,VE11,VE1108
8,Falcón,Falcón (Pueblo Nuevo),Falcón,Falcón,VE11,VE1109
9,Falcón,Federación (Churuguara),Falcón,Federación,VE11,VE1110
10,Falcón,Jacura,Falcón,Jacura,VE11,VE1111
11,Falcón,Los Taques (Santa Cruz de Los Taques),Falcón,Los Taques,VE11,VE1112
12,Falcón,Mauroa (Mene de Mauroa),Falcón,Mauroa,VE11,VE1113
13,Falcón,Miranda (Santa Ana de Coro),Falcón,Miranda,VE11,VE1114
14,Falcón,Monseñor Iturriza (Chichiriviche),Falcón,Monseñor Iturriza,VE11,VE1115
15,Falcón,Palmasola,Falcón,Palmasola,VE11,VE1116
16,Falcón,Petit (Cabure),Falcón,Petit,VE11,VE1117
17,Falcón,Píritu (Falcón),NaN,NaN,NaN,NaN
18,Falcón,San Francisco (Mirimire),Falcón,San Francisco,VE11,VE1119
19,Falcón,Silva (Tucacas),Falcón,Silva,VE11,VE1120
20,Falcón,Sucre (La Cruz de Taratara),Falcón,Sucre,VE11,VE1121
21,Falcón,Tocópero,NaN,NaN,NaN,NaN
22,Falcón,Unión (Santa Cruz de Bucaral),Falcón,Unión,VE11,VE1123
23,Falcón,Urumaco,Falcón,Urumaco,VE11,VE1124
24,Falcón,Zamora (Puerto Cumarebo),Falcón,Zamora,VE11,VE1125

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Guárico,Ortíz,NaN,NaN,NaN,NaN
1,Guárico,Chaguaramas,Guárico,Chaguaramas,VE12,VE1202
2,Guárico,El Socorro,Guárico,El Socorro,VE12,VE1203
3,Guárico,Esteros de Camaguan,Guárico,Camaguan,VE12,VE1201
8,Guárico,Francisco de Miranda (Calabozo),Guárico,Francisco de Miranda,VE12,VE1208
9,Guárico,José Félix Ribas (Tucupido),Guárico,José Félix Ribas,VE12,VE1211
10,Guárico,José Tadeo Monagas (Altagracia de Orituco),Guárico,José Tadeo Monagas,VE12,VE1209
11,Guárico,Juan Germán Roscio (San Juan de Los Morros),Guárico,Juan Germán Roscio,VE12,VE1212
12,Guárico,Julián Mellado (El Sombrero),Guárico,Julián Mellado,VE12,VE1207
13,Guárico,Las Mercedes,Guárico,Las Mercedes,VE12,VE1206
14,Guárico,Leonardo Infante (Valle de La Pascua),Guárico,Leonardo Infante,VE12,VE1205
15,Guárico,Pedro Zaraza (Zaraza),Guárico,Pedro Zaraza,VE12,VE1215
16,Guárico,San Gerónimo de Guayabal (Guayabal),Guárico,San Gerónimo de Guayabal,VE12,VE1204
17,Guárico,San José de Guaribe,Guárico,San José de Guaribe,VE12,VE1213
18,Guárico,Santa María de Ipire,Guárico,Santa María de Ipire,VE12,VE1214

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Lara,Andrés Eloy Blanco (Sanare),Lara,Andrés Eloy Blanco,VE13,VE1301
1,Lara,Crespo (Duaca),Lara,Crespo,VE13,VE1302
2,Lara,Iribarren (Barquisimeto),Lara,Iribarren,VE13,VE1303
3,Lara,Jiménez (Quibor),Lara,Jiménez,VE13,VE1304
4,Lara,Morán (El Tocuyo),NaN,NaN,NaN,NaN
5,Lara,Palavecino (Cabudare),Lara,Palavecino,VE13,VE1306
6,Lara,Simón Planas (Sarare),Lara,Simón Planas,VE13,VE1307
7,Lara,Torres (Carora),Lara,Torres,VE13,VE1308
8,Lara,Urdaneta (Siquisique),Lara,Urdaneta,VE13,VE1309

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Mérida,Alberto Adriani (El Vigía),Mérida,Alberto Adriani,VE14,VE1401
1,Mérida,Andrés Bello (La Azulita),Mérida,Andrés Bello,VE14,VE1402
2,Mérida,Aricagua,Mérida,Aricagua,VE14,VE1404
3,Mérida,Briceño (Torondoy),Mérida,Justo Briceño,VE14,VE1411
4,Mérida,Campo Elías (Ejido),Mérida,Campo Elías,VE14,VE1406
5,Mérida,Chacón (Canaguá),Mérida,Arzobispo Chacón,VE14,VE1405
6,Mérida,Dávila (Bailadores),Mérida,Rivas Dávila,VE14,VE1418
7,Mérida,Febres Cordero (Nueva Bolivia),Mérida,Tulio Febres Cordero,VE14,VE1422
8,Mérida,Guaraque (Guaraque),Mérida,Guaraque,VE14,VE1409
9,Mérida,Libertador (Mérida),Mérida,Libertador,VE14,VE1412
10,Mérida,Marquina (Tabay),Mérida,Santos Marquina,VE14,VE1419
11,Mérida,Miranda (Timotes),Mérida,Miranda,VE14,VE1413
12,Mérida,Noguera (Santa María de Caparo),Mérida,Padre Noguera,VE14,VE1415
13,Mérida,Parra Olmedo (Tucaní),Mérida,Caracciolo Parra Olmedo,VE14,VE1407
14,Mérida,Antonio Pinto Salinas (Santa Cruz de Mora),Mérida,Antonio Pinto Salinas,VE14,VE1403
15,Mérida,Pueblo Llano,Mérida,Pueblo Llano,VE14,VE1416
16,Mérida,Quintero (Santo Domingo),Mérida,Cardenal Quintero,VE14,VE1408
17,Mérida,Ramos de Lora (Santa Elena de Arenales),Mérida,Obispo Ramos de Lora,VE14,VE1414
18,Mérida,Rangel (Mucuchíes),Mérida,Rangel,VE14,VE1417
19,Mérida,Salas (Arapuey),NaN,NaN,NaN,NaN
20,Mérida,Sucre (Lagunillas),Mérida,Sucre,VE14,VE1420
21,Mérida,Zea,Mérida,Zea,VE14,VE1423
22,Mérida,Tovar,Mérida,Tovar,VE14,VE1421

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Miranda,Acevedo (Caucagua),Miranda,Acevedo,VE15,VE1501
1,Miranda,Andrés Bello (San José de Barlovento),Miranda,Andrés Bello,VE15,VE1502
2,Miranda,Baruta,Miranda,Baruta,VE15,VE1503
3,Miranda,Brión (Higuerote),Miranda,Brión,VE15,VE1504
4,Miranda,Buroz (Mamporal),Miranda,Buroz,VE15,VE1505
5,Miranda,Carrizal,Miranda,Carrizal,VE15,VE1506
6,Miranda,Chacao,Miranda,Chacao,VE15,VE1507
7,Miranda,Cristóbal Rojas (Charallave),Miranda,Cristóbal Rojas,VE15,VE1508
8,Miranda,El Hatillo,Miranda,El Hatillo,VE15,VE1509
9,Miranda,Guaicaipuro (Los Teques),Miranda,Bolivariano Guaicaipuro,VE15,VE1510
10,Miranda,Independencia (Santa Teresa del Tuy),Miranda,Independencia,VE15,VE1511
11,Miranda,Lander (Ocumare del Tuy),Miranda,Lander,VE15,VE1512
12,Miranda,Los Salias (San Antonio de los Altos),Miranda,Los Salías,VE15,VE1513
13,Miranda,Páez (Río Chico),Miranda,Páez,VE15,VE1514
14,Miranda,Paz Castillo (Santa Lucía),Miranda,Paz Castillo,VE15,VE1515
15,Miranda,Pedro Gual (Cúpira),Miranda,Pedro Gual,VE15,VE1516
16,Miranda,Plaza (Guarenas),Miranda,Plaza,VE15,VE1517
17,Miranda,Simón Bolívar (San Francisco de Yare),Miranda,Simón Bolívar,VE15,VE1518
18,Miranda,Sucre (Petare),Miranda,Sucre,VE15,VE1519
19,Miranda,Urdaneta (Cúa),Miranda,Urdaneta,VE15,VE1520
20,Miranda,Zamora (Guatire),Miranda,Zamora,VE15,VE1521

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Monagas,Acosta (San Antonio de Capayacuar),Monagas,Acosta,VE16,VE1601
1,Monagas,Aguasay,Monagas,Aguasay,VE16,VE1602
2,Monagas,Bolívar (Caripito),Monagas,Bolívar,VE16,VE1603
3,Monagas,Caripe,Monagas,Caripe,VE16,VE1604
4,Monagas,Cedeño (Caicara de Maturín),Monagas,Cedeño,VE16,VE1605
5,Monagas,Libertador (Temblador),Monagas,Libertador,VE16,VE1607
6,Monagas,Maturín,Monagas,Maturín,VE16,VE1608
7,Monagas,Piar (Aragua de Maturín),Monagas,Piar,VE16,VE1609
8,Monagas,Punceres (Quiriquire),Monagas,Punceres,VE16,VE1610
9,Monagas,Santa Bárbara,Monagas,Santa Babara,VE16,VE1611
10,Monagas,Sotillo (Barrancas del Orinoco),Monagas,Sotillo,VE16,VE1612
11,Monagas,Uracoa,Monagas,Uracoa,VE16,VE1613
12,Monagas,Zamora (Punta de Mata),Monagas,Ezequiel Zamora,VE16,VE1606

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Nueva Esparta,Antolín del Campo (La Plaza de Paraguachí),Nueva Esparta,Antolín del Campo,VE17,VE1701
1,Nueva Esparta,Arismendi (La Asunción),Nueva Esparta,Arismendi,VE17,VE1702
2,Nueva Esparta,Díaz (San Juan Bautista),Nueva Esparta,Díaz,VE17,VE1703
3,Nueva Esparta,García (El Valle del Espíritu Santo),Nueva Esparta,García,VE17,VE1704
4,Nueva Esparta,Gómez (Santa Ana),Nueva Esparta,Gómez,VE17,VE1705
5,Nueva Esparta,Maneiro (Pampatar),Nueva Esparta,Maneiro,VE17,VE1706
6,Nueva Esparta,Marcano (Juan Griego),Nueva Esparta,Marcano,VE17,VE1707
7,Nueva Esparta,Mariño (Porlamar),Nueva Esparta,Mariño,VE17,VE1708
8,Nueva Esparta,Península de Macanao (Boca de Río),Nueva Esparta,Macanao,VE17,VE1709
9,Nueva Esparta,Tubores (Punta de Piedras),Nueva Esparta,Tubores,VE17,VE1710
10,Nueva Esparta,Villalba (San Pedro de Coche),Nueva Esparta,Villalba,VE17,VE1711

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Portuguesa,Agua Blanca,Portuguesa,Agua Blanca,VE18,VE1801
1,Portuguesa,Araure,Portuguesa,Araure,VE18,VE1802
2,Portuguesa,Esteller (Píritu),Portuguesa,Esteller,VE18,VE1803
3,Portuguesa,Guanare,Portuguesa,Guanare,VE18,VE1804
4,Portuguesa,Guanarito,Portuguesa,Guanarito,VE18,VE1805
5,Portuguesa,Monseñor José Vicenti de Unda (Chabasquén de U...,Portuguesa,Monseñor José Vicente de Und,VE18,VE1806
6,Portuguesa,Ospino,Portuguesa,Ospino,VE18,VE1807
7,Portuguesa,Páez (Acarigua),Portuguesa,Páez,VE18,VE1808
8,Portuguesa,Papelón,Portuguesa,Papelón,VE18,VE1809
9,Portuguesa,San Genaro de Boconoíto (Boconoíto),Portuguesa,San Genaro de Boconoito,VE18,VE1810
10,Portuguesa,San Rafael de Onoto,Portuguesa,San Rafael de Onoto,VE18,VE1811
11,Portuguesa,Santa Rosalía (El Playón),Portuguesa,Santa Rosalía,VE18,VE1812
12,Portuguesa,Sucre (Biscucuy),Portuguesa,Sucre,VE18,VE1813
13,Portuguesa,Turén (Villa Bruzual),NaN,NaN,NaN,NaN

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Sucre,Andrés Eloy Blanco (Casanay),Sucre,Andrés Eloy Blanco,VE19,VE1901
1,Sucre,Andrés Mata (San José de Aerocuar),Sucre,Andrés Mata,VE19,VE1902
2,Sucre,Arismendi (Río Caribe),Sucre,Arismendi,VE19,VE1903
3,Sucre,Benítez (El Pilar),Sucre,Benítez,VE19,VE1904
4,Sucre,Bermúdez (Carúpano),Sucre,Bermúdez,VE19,VE1905
5,Sucre,Bolívar (Marigüitar),Sucre,Bolívar,VE19,VE1906
6,Sucre,Cajigal (Yaguaraparo),Sucre,Cajigal,VE19,VE1907
7,Sucre,Cruz Salmerón Acosta (Araya),Sucre,Cruz Salmerón Acosta,VE19,VE1908
8,Sucre,Libertador (Tunapuy),Sucre,Libertador,VE19,VE1909
9,Sucre,Mariño (Irapa).,Sucre,Mariño,VE19,VE1910
10,Sucre,Mejía (San Antonio del Golfo),Sucre,Mejía,VE19,VE1911
11,Sucre,Montes (Cumanacoa),Sucre,Montes,VE19,VE1912
12,Sucre,Ribero (Cariaco),Sucre,Ribero,VE19,VE1913
13,Sucre,Sucre (Cumaná),Sucre,Sucre,VE19,VE1914
14,Sucre,Valdez (Güiria),Sucre,Valdez,VE19,VE1915

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Táchira,Andrés Bello (Cordero),Táchira,Andrés Bello,VE20,VE2001
1,Táchira,Antonio Rómulo Costa (Las Mesas),Táchira,Antonio Rómulo Costa,VE20,VE2002
2,Táchira,Ayacucho (Colón),Táchira,Ayacucho,VE20,VE2003
3,Táchira,Bolívar (San Antonio del Táchira),Táchira,Bolívar,VE20,VE2004
4,Táchira,Cárdenas (Táriba),Táchira,Cárdenas,VE20,VE2005
5,Táchira,Córdoba (Santa Ana de Táchira),Táchira,Córdoba,VE20,VE2006
6,Táchira,Fernández Feo (San Rafael del Piñal),Táchira,Fernández Feo,VE20,VE2007
7,Táchira,Francisco de Miranda (San José de Bolívar),Táchira,Francisco de Miranda,VE20,VE2008
8,Táchira,García de Hevia (La Fría),Táchira,García de Hevia,VE20,VE2009
9,Táchira,Guásimos (Palmira),NaN,NaN,NaN,NaN
10,Táchira,Independencia (Capacho Nuevo),Táchira,Independencia,VE20,VE2011
11,Táchira,Jáuregui (La Grita),Táchira,Jáuregui,VE20,VE2012
12,Táchira,José María Vargas (El Cobre),Táchira,José María Vargas,VE20,VE2013
13,Táchira,Junín (Rubio),Táchira,Junín,VE20,VE2014
14,Táchira,Libertad (Capacho Viejo),Táchira,Libertad,VE20,VE2015
15,Táchira,Libertador (Abejales),Táchira,Libertador,VE20,VE2016
16,Táchira,Lobatera,Táchira,Lobatera,VE20,VE2017
17,Táchira,Michelena,Táchira,Michelena,VE20,VE2018
18,Táchira,Panamericano (Coloncito),Táchira,Panamericano,VE20,VE2019
19,Táchira,Pedro María Ureña (Ureña),Táchira,Pedro María Ureña,VE20,VE2020
20,Táchira,Rafael Urdaneta (Delicias),Táchira,Rafael Urdaneta,VE20,VE2021
21,Táchira,Samuel Dario Maldonado (La Tendida),Táchira,Samuel Darío Maldonado,VE20,VE2022
22,Táchira,San Cristóbal,Táchira,San Cristóbal,VE20,VE2023
23,Táchira,San Judas Tadeo (Umuquena),Táchira,San Judas Tadeo,VE20,VE2029
24,Táchira,Seboruco,Táchira,Seboruco,VE20,VE2024
25,Táchira,Simón Rodríguez (San Simon),Táchira,Simón Rodríguez,VE20,VE2025
26,Táchira,Sucre (Queniquea),Táchira,Sucre,VE20,VE2026
27,Táchira,Torbes (San Josecito),Táchira,Torbes,VE20,VE2027
28,Táchira,Uribante (Pregonero),Táchira,Uribante,VE20,VE2028

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Trujillo,Andrés Bello (Santa Isabel),Trujillo,Andrés Bello,VE21,VE2101
1,Trujillo,Boconó,NaN,NaN,NaN,NaN
2,Trujillo,Bolívar (Sabana Grande),Trujillo,Bolívar,VE21,VE2103
3,Trujillo,Campos Elías,Trujillo,Juan Vicente Campo Elías,VE21,VE2108
4,Trujillo,Candelaria (Chejendé),Trujillo,Candelaria,VE21,VE2104
5,Trujillo,Carache,Trujillo,Carache,VE21,VE2105
6,Trujillo,Carvajal (Carvajal),Trujillo,San Rafael de Carvajal,VE21,VE2116
7,Trujillo,Escuque,Trujillo,Escuque,VE21,VE2106
8,Trujillo,La Ceiba (Santa Apolonia),Trujillo,La Ceiba,VE21,VE2109
9,Trujillo,Márquez Cañizales (El Paradero),Trujillo,José Felipe Márquez Cañizal,VE21,VE2107
10,Trujillo,Miranda (El Dividive),Trujillo,Miranda,VE21,VE2110
11,Trujillo,Monte Carmelo,Trujillo,Monte Carmelo,VE21,VE2111
12,Trujillo,Motatán,NaN,NaN,NaN,NaN
13,Trujillo,Pampán,NaN,NaN,NaN,NaN
14,Trujillo,Pampanito,Trujillo,Pampanito,VE21,VE2114
15,Trujillo,Rangel (Betijoque),Trujillo,Rafael Rangel,VE21,VE2115
16,Trujillo,Sucre (Sabana de Mendoza),Trujillo,Sucre,VE21,VE2117
17,Trujillo,Trujillo,Trujillo,Trujillo,VE21,VE2118
18,Trujillo,Urdaneta (La Quebrada),Trujillo,Urdaneta,VE21,VE2119
19,Trujillo,Valera,Trujillo,Valera,VE21,VE2120

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Vargas,Parroquia Caraballeda,Vargas,Caraballeda,VE24,VE240101
1,Vargas,Parroquia Carayaca,Vargas,Carayaca,VE24,VE240102
2,Vargas,Parroquia Carlos Soublette,Vargas,Carlos Soublette,VE24,VE240111
3,Vargas,Parroquia Caruao,Vargas,Caruao,VE24,VE240103
4,Vargas,Parroquia Catia La Mar,Vargas,Catia la Mar,VE24,VE240104
5,Vargas,Parroquia El Junko,Vargas,El Junko,VE24,VE240105
6,Vargas,Parroquia La Guaira,Vargas,La Guaira,VE24,VE240106
7,Vargas,Parroquia Macuto,Vargas,Macuto,VE24,VE240107
8,Vargas,Parroquia Maiquetía,Vargas,Maiquetía,VE24,VE240108
9,Vargas,Parroquia Naiguatá,NaN,NaN,NaN,NaN
10,Vargas,Parroquia Urimare,Vargas,Urimare,VE24,VE240110

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Yaracuy,Arístides Bastidas (San Pablo),Yaracuy,Arístides Bastidas,VE22,VE2201
1,Yaracuy,Bolívar (Aroa),Yaracuy,Bolívar,VE22,VE2202
2,Yaracuy,Bruzual (Chivacoa),Yaracuy,Bruzual,VE22,VE2203
3,Yaracuy,Cocorote,Yaracuy,Cocorote,VE22,VE2204
4,Yaracuy,Independencia,Yaracuy,Independencia,VE22,VE2205
5,Yaracuy,La Trinidad (Boraure),Yaracuy,La Trinidad,VE22,VE2207
6,Yaracuy,Monge (Yumare),Yaracuy,Manuel Monge,VE22,VE2208
7,Yaracuy,Nirgua,Yaracuy,Nirgua,VE22,VE2209
8,Yaracuy,Páez (Sabana de Parra),Yaracuy,José Antonio Páez,VE22,VE2206
9,Yaracuy,Peña (Yaritagua),Yaracuy,Peña,VE22,VE2210
10,Yaracuy,San Felipe,Yaracuy,San Felipe,VE22,VE2211
11,Yaracuy,Sucre (Guama),Yaracuy,Sucre,VE22,VE2212
12,Yaracuy,Urachiche,Yaracuy,Urachiche,VE22,VE2213
13,Yaracuy,Veroes (Farriar),Yaracuy,Veroes,VE22,VE2214

/var/folders/52/vy6xx2q911l7rd368b7ngb8w0000gn/T/ipykernel_10399/855297660.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  subset_ipys['level_2_name_simplified'] = subset_ipys['level_2_name'].str.replace(r"\(.*\)","")

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
0,Zulia,Baralt (San Timoteo),Zulia,Baralt,VE23,VE2302
1,Zulia,Bolívar (Tía Juana),Zulia,Simón Bolívar,VE23,VE2319
2,Zulia,Cabimas,Zulia,Cabimas,VE23,VE2303
3,Zulia,Catatumbo (Encontrados),Zulia,Catatumbo,VE23,VE2304
4,Zulia,Colón (San Carlos del Zulia),NaN,NaN,NaN,NaN
5,Zulia,Guajira (Sinamaica),Zulia,Indígena Bolivariano Guajira,VE23,VE2315
6,Zulia,La Cañada de Urdaneta (Concepción),Zulia,La Cañada de Urdaneta,VE23,VE2309
7,Zulia,Lagunillas (Ciudad Ojeda),Zulia,Lagunillas,VE23,VE2310
8,Zulia,Lossada (La Concepción),Zulia,Jesús Enrique Lossada,VE23,VE2307
9,Zulia,Machiques,Zulia,Machiques de Perija,VE23,VE2311
10,Zulia,Mara (San Rafael del Moján),Zulia,Mara,VE23,VE2312
11,Zulia,Maracaibo,Zulia,Maracaibo,VE23,VE2313
12,Zulia,Miranda (Los Puertos de Altagracia),Zulia,Miranda,VE23,VE2314
13,Zulia,Padilla (El Toro),Zulia,Almirante Padilla,VE23,VE2301
14,Zulia,Pulgar (Pueblo Nuevo,Zulia,Francisco Javier Pulgar,VE23,VE2306
15,Zulia,Rosario (La Villa del Rosario),Zulia,Rosario de Perija,VE23,VE2316
16,Zulia,San Francisco,Zulia,San Francisco,VE23,VE2317
17,Zulia,Santa Rita,Zulia,Santa Rita,VE23,VE2318
18,Zulia,Semprún (Casigua El Cubo),NaN,NaN,NaN,NaN
19,Zulia,Sucre (Bobures),Zulia,Sucre,VE23,VE2320
20,Zulia,Valmore Rodríguez (Bachaquero),Zulia,Valmore Rodríguez,VE23,VE2321

In [11]:
new_df = pd.concat(new_df, ignore_index=True)

After processing, we will have the following entries to manually fix:
```
* Anzoátegui - McGregor (El Chaparro)
* Anzoátegui - Píritu
* Bolívar - Heres (Ciudad Bolívar)
* Cojedes - Falcón (Tinaquillo)
* Distrito Capital - Parroquia Antímano
* Falcón - Píritu (Falcón)
* Falcón - Tocópero
* Guárico - Ortíz 
* Lara - Morán (El Tocuyo)
* Mérida - Salas (Arapuey) 
* Portuguesa - Turén (Villa Bruzual)
* Táchira - Guásimos (Palmira) 
* Trujillo - Boconó
* Trujillo - Motatán
* Trujillo - Pampán
* Vargas - Parroquia Naiguatá
* Zulia - Colón (San Carlos del Zulia)
* Zulia - Semprún (Casigua El Cubo) 	
```

Notice that since all the erros are due to NOT MATCHING (as opposed to WRONG MATCHES), we can simply look at NaNs and we'll find them all.

In [12]:
new_df[new_df.geo_level_2_code.isna()]

,IPYS_level_1_name,IPYS_level_2_name,geo_level_1_name,geo_level_2_name,geo_level_1_code,geo_level_2_code
18,Anzoátegui,McGregor (El Chaparro),NaN,NaN,NaN,NaN
23,Anzoátegui,Píritu (Anzoátegui),NaN,NaN,NaN,NaN
69,Bolívar,Heres (Ciudad Bolívar),NaN,NaN,NaN,NaN
92,Cojedes,Falcón (Tinaquillo),NaN,NaN,NaN,NaN
105,Distrito capital,Parroquia Antímano,NaN,NaN,NaN,NaN
142,Falcón,Píritu (Falcón),NaN,NaN,NaN,NaN
146,Falcón,Tocópero,NaN,NaN,NaN,NaN
150,Guárico,Ortíz,NaN,NaN,NaN,NaN
169,Lara,Morán (El Tocuyo),NaN,NaN,NaN,NaN
193,Mérida,Salas (Arapuey),NaN,NaN,NaN,NaN
255,Portuguesa,Turén (Villa Bruzual),NaN,NaN,NaN,NaN
280,Táchira,Guásimos (Palmira),NaN,NaN,NaN,NaN
301,Trujillo,Boconó,NaN,NaN,NaN,NaN
312,Trujillo,Motatán,NaN,NaN,NaN,NaN
313,Trujillo,Pampán,NaN,NaN,NaN,NaN
329,Vargas,Parroquia Naiguatá,NaN,NaN,NaN,NaN
349,Zulia,Colón (San Carlos del Zulia),NaN,NaN,NaN,NaN
363,Zulia,Semprún (Casigua El Cubo),NaN,NaN,NaN,NaN

After manually inspecting the matches, those are the correspondences:

In [13]:
matches = {
	# On the left, the merged df index locator. On the right, the geographic file locator.
	18: 27,
	23: 8,
	69: 72, # I'm taking that Ciudad Bolívar, seat of the Heres municipality, is Angostura del Orinoco – as the website of https://www.alcaldiadeheres.gob.ve/ has a banner calling itself 'Angostura del Orinoco'
	92: 93,
	105: 107,
	142: 148,
	146: 137,
	150: 150,
	169: 179,
	193: 225, # Possible typo in geo_names, as the city is called Júlio Cesar Salas, with an extra S in the end
	255: 260,
	280: 325,
	301: 292,
	312: 300,
	313: 285,
    329: 171,
	349: 346,
	363: 359

}

In [14]:
for merged_loc, geo_loc in matches.items():
    
    
    for merged_column, geo_column in [
        ('geo_level_1_name', 'parent_name'), 
        ('geo_level_2_name',  'name'),
        ('geo_level_1_code', 'parent_code'),
        ('geo_level_2_code', 'code')
    ]:
        
        new_df.loc[merged_loc, merged_column] = geo_names.loc[geo_loc, geo_column]

Finally, saves to csv.

In [15]:
new_df.to_csv("../output/correspondence.csv", index=False, sep=";")